<ion-view view-title="About">
  <ion-content class="positive-bg">
      <div class="about-text">
          <p>
          BarCamp is an unconference. There’s no speaker list or fixed schedule until the actual event. All content comes from the attendees. Anyone can host a session, participate in discussions, demo a project, talk about code, discuss at lengths about program design.
        </p>
          <p>
          Not into tech? No problem. BarCamp's not just about tech. Share your life experiences. Teach us your lifehacks. Tell us about your great outdoors experiment. Sky's the limit and this is the perfect place to share your passion. Anyone with something to contribute or with the desire to learn is welcome and invited to join.
        </p>
          <p>
          There are no registration fees or any other charges for a BarCamp. Your active participation is the fuel and driving force for BarCamp. You are invited to volunteer for various activities for putting up a successful camp.
        </p>
      </div>
  </ion-content>
</ion-view>
