<ion-view view-title="Venue">
  <ion-content>
      <div class="card positive-bg">
          <div class="row">
            <div class="col" align="left">
          <h2>
          CMR Institude of Technology
           </h2>
            <p>
          No. 132, <br />
          AECS Layout, <br />
          ITPL Main Road, <br />
          Kundalahalli, <br />
          Bengaluru, <br />
          Karnataka 560037 <br />
            </p>
        </div>
        </div>
    </div>
  </ion-content>
</ion-view>
